In [16]:
import pymysql.cursors

connection = pymysql.connect(host='10.24.226.192',
                             user='mbdsuser',
                             password='mbds2017',
                             db='mbdsdb',
                             port=3306,
                             cursorclass=pymysql.cursors.DictCursor)

try:
    with connection.cursor() as cursor:
        sql = "SHOW tables"
        cursor.execute(sql)
        result = cursor.fetchall()
        print(result)
                
        sql = "SHOW COLUMNS FROM bigdatasurvey"
        cursor.execute(sql)
        result = cursor.fetchall()        
        print(type(result))
        
        for item in result:
            print(item)
        
        sql = "INSERT INTO bigdatasurvey ('name', 'excel', 'flatfile', 'db', 'sqldb', 'nosqldb', 'document', 'graph', 'kb', 'mb', 'gb', 'tb') VALUES ('Eric Rozier', 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1)"
        cursor.execute(sql)
        
        connection.commit()

finally:
    connection.close()

[{'Tables_in_mbdsdb': 'bigdatasurvey'}, {'Tables_in_mbdsdb': 't'}]
<class 'list'>
{'Field': 'name', 'Type': 'text', 'Null': 'YES', 'Key': '', 'Default': None, 'Extra': ''}
{'Field': 'excel', 'Type': 'tinyint(1)', 'Null': 'YES', 'Key': '', 'Default': None, 'Extra': ''}
{'Field': 'flatfile', 'Type': 'tinyint(1)', 'Null': 'YES', 'Key': '', 'Default': None, 'Extra': ''}
{'Field': 'db', 'Type': 'tinyint(1)', 'Null': 'YES', 'Key': '', 'Default': None, 'Extra': ''}
{'Field': 'sqldb', 'Type': 'tinyint(1)', 'Null': 'YES', 'Key': '', 'Default': None, 'Extra': ''}
{'Field': 'nosqldb', 'Type': 'tinyint(1)', 'Null': 'YES', 'Key': '', 'Default': None, 'Extra': ''}
{'Field': 'document', 'Type': 'tinyint(1)', 'Null': 'YES', 'Key': '', 'Default': None, 'Extra': ''}
{'Field': 'graph', 'Type': 'tinyint(1)', 'Null': 'YES', 'Key': '', 'Default': None, 'Extra': ''}
{'Field': 'kb', 'Type': 'tinyint(1)', 'Null': 'YES', 'Key': '', 'Default': None, 'Extra': ''}
{'Field': 'mb', 'Type': 'tinyint(1)', 'Null': 'YES', 'Key': '', 'Default': None, 'Extra': ''}
{'Field': 'gb', 'Type': 'tinyint(1)', 'Null': 'YES', 'Key': '', 'Default': None, 'Extra': ''}
{'Field': 'tb', 'Type': 'tinyint(1)', 'Null': 'YES', 'Key': '', 'Default': None, 'Extra': ''}

ProgrammingError: (1064, "You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near ''name', 'excel', 'flatfile', 'db', 'sqldb', 'nosqldb', 'document', 'graph', 'kb'' at line 1")